html,
body,
main {
	margin: 0;
	height: 100%;
}
body {
	background-image: url('./wallpaper.png');
	background-repeat: repeat;
	background-size: 15rem;
	background-position: 50% 50%;
}
main {
	margin: 0 8vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
canvas {
	display: block;
	width: 100%;

	border: 2vw solid #a47445;
	border-style: ridge;

	box-shadow: 0.5rem 1rem 2rem #0008;
}
